{% extends "base.html" %}

{% block content %}

<!--  HERO SECTION -->
<div class="hero">
    <h1>Welcome to Builders Billing System</h1>
    <p>Manage products, bills and customers easily</p>
</div>

<!--  PRODUCT PREVIEW -->
<div class="products-section">
    <h3>Products</h3>
    <div id="productPreview"></div>
</div>

<!--  CONTACT -->
<div class="contact">
    <h2>Contact Us</h2>
    <i class="fa-solid fa-phone"></i><span> 9836241101 </span>
    <br>
    <i class="fa-regular fa-envelope"></i><span> khanratrading60.com </span>
</div>


{% endblock %}